<template>
  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique explicabo at, ut soluta numquam obcaecati quod provident dolorem, delectus aliquid nobis doloremque eos quos eligendi tempore quam dolorum! Earum, natus.</p>
  </div>
</template>
  
<script>
export default {
  name: 'PostContent',
}
</script>