<script>
import fruit from 'home/fruit';
import store from 'store/store';

let image = store.image;

store.subscribe(() => {
  image = store.image;
  console.log(12, store);
});

const addToCart = () => {
  store.incrementCount();
};

</script>

<div>
  <div class="w-full bg-white border border-gray-200 rounded-lg shadow">
    <div class="flex justify-center items-center border-b border-gray-200 rounded-t-lg bg-gray-50 dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Svelte_Logo.svg/1200px-Svelte_Logo.svg.png" class="h-8 mr-3" alt="svelts">
      <h2 class="text-xl p-4">Svelt JS</h2>
    </div>
    <div class="w-full max-w-sm border border-gray-200 rounded-lg shadow bg-gray-800">
      <img src={fruit[image].image} />
      <div class="px-5 pb-5">
          <a href="#">
              <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">{fruit[image].name}</h5>
          </a>
          <div class="flex items-center justify-between">
              <span class="text-3xl font-bold text-gray-900 dark:text-white">${fruit[image].price}</span>
              <button on:click={addToCart} class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add to cart</button>
          </div>
      </div>
    </div>
  </div>
</div>